.hide {

    visibility: hidden;

}

progress {
    width: 100%;
    height: 20px;
    border-radius: 4px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: #ea0a8e;
}

iframe {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

progress::-moz-progress-bar {
    background: #ea0a8e;
}

progress::-webkit-progress-value {
    background: #ea0a8e;
}